.fontf{
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .065em;
    margin-bottom: 20px;
    color: #000;
}
h2.redditstory-title{
    white-space: normal;
    height:3.6em;
}
.tempdiv{
	text-align:center;
	width:100%;
}
.citytemp{
	font-size: 26px;
}
.lastuptemp{
	font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: .065em;
    margin-bottom: 20px;
}
.blackheadbar{
	background-color: #000;
	border-color: #000;
}
.newsbar{
	justify-content:center;
}
h2.story-title{
	white-space: normal;
}
p.story-desc{
	white-space: normal;
	height:auto;
}
.clock{
    width: 10px;
    height: 10px;
    max-width: 100%;
    max-height: 100%;
}

.forecastinfo{
	white-space: normal;
	font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .065em;
    margin-bottom: 20px;
    color: #000;
}
.maininfo{
	color:#fff;
}
.dolarinfo{
	color:#fff;
}
.dolarcheck{
	color:#fff;
	font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: .065em;
    margin-bottom: 20px;
}
.reddittitle{
    color:#000;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 38px;
}
.redditheadbar{
	background-color: #cee3f8;
	border-color: #cee3f8;
}
.textwhite{
	color:#fff;
}

